<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main"} -->
<main id="main" class="wp-block-group">
	<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
	<div class="wp-block-query">
		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:breadcrumbs {"separator":"\u003e","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|125","bottom":"var:preset|spacing|125"}}},"fontSize":"s"} /-->
			<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|300","bottom":"var:preset|spacing|300"}}}} /-->
			<!-- wp:post-featured-image {"align":"wide"} /-->
			<!-- wp:post-content {"align":"full"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
