<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:breadcrumbs {"separator":"\u003e","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|125","bottom":"var:preset|spacing|125"}}},"fontSize":"s"} /-->
	<!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|300","bottom":"var:preset|spacing|300"}}}} /-->
	<!-- wp:post-featured-image {"align":"wide"} /-->
	<!-- wp:post-content {"align":"full"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
